---
layout: archive
title: ""
permalink: /research/
author_profile: true
---

<style>
  .small-caps {
    font-variant: small-caps;
  }
  </style>

<h2>Law Review Publications</h2>
<ol reversed>
  <li><i>Artificial Intelligence and Equal Protection Law</i>, <span class="small-caps">2025 U. Ill. L. Rev. ___</span> (forthcoming 2025) (with Ralph Richard Banks).</li>
  <li>Note, <i><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5126587" target="_blank">Watering Down Enforcement: Inadequate Criminal Liability in State Clean Water Act Programs</a></i>, <span class="small-caps">77 Stan. L. Rev. ___</span> (forthcoming 2025).</li>
  <ul>
    <li>Stanford Law School Olaus & Adolf Murie Award.</li>
  </ul>
</ol>
<h2>Peer-Reviewed Publications</h2>
<ol reversed>
  <li><b>Wu, Victor Y.</b> “Motivating Climate Mitigation Behaviors Despite Partisan Polarization in Climate Beliefs.” Accepted at <i>Nature Communications</i>.</li>
  <li><b>Wu, Victor Y.</b> (2025). “<a href="https://doi.org/10.1016/j.erss.2025.103997" target="_blank">Partisan Energy Preferences in the United States: Republicans Prioritize Price, Democrats Also Consider Renewables</a>.” <i>Energy Research & Social Science</i>.</li>
  <li><b>Wu, Victor Y.</b>, and Joseph Bafumi. (2024). “<a href="https://doi.org/10.1177/13540688241249035" target="_blank">Disaffected Partisans Who Want a Third Party Are Just as Polarized</a>.” <i>Party Politics</i>.
    <ul>
      <li>Coverage: London School of Economics USAPP, The Science of Politics Podcast.</li>
    </ul>
  </li>
  <li><b>Wu, Victor Y.</b>, and Richard Howarth. (2023). “<a href="https://doi.org/10.1371/journal.pone.0292136" target="_blank">Shifting Partisan Public Opinion Towards Community Choice Aggregation Through Outreach and Awareness</a>.” <i>PLOS One</i>.</li>
  <li>Gupta, Arushi, <b>Victor Y. Wu</b>, Helen Webley-Brown, Jennifer King, and Daniel E. Ho. (2023). “<a href="https://hai.stanford.edu/sites/default/files/2023-06/Gupta_et_al_Privacy_Bias.pdf" target="_blank">The Privacy-Bias Tradeoff: Data Minimization and Racial Disparity Assessments in U.S. Government</a>.” <i>ACM FAccT</i>.
    <ul>
      <li>Cited in official recommendation adopted by the National Artificial Intelligence Advisory Committee.</li>
      <li>2023 FAccT Best Paper Award, 2023 Privacy Papers for Policymakers Student Paper Award.</li>
      <li>Coverage: Stanford Lawyer Magazine, Center for Public Integrity.</li>
    </ul>
  </li>
  <li><b>Wu, Victor Y.</b>, John Carey, Brendan Nyhan, and Jason Reifler. (2022). “<a href="https://doi.org/10.37016/mr-2020-103" target="_blank">Legislator Criticism of a Candidate’s Conspiracy Beliefs Reduces Support for the Conspiracy but Not the Candidate: Evidence From Marjorie Taylor Greene and QAnon</a>.” <i>Harvard Kennedy School (HKS) Misinformation Review</i>.
    <ul>
      <li>Coverage: The Washington Post.</li>
    </ul>
  </li>
  <li>Grossmann, Matt, Kayla Hamann, Jennifer Lee, Gabrielle Levy, Brendan Nyhan, and <b>Victor Y. Wu</b>. (2021). “<a href="https://doi.org/10.1177/20531680211050506" target="_blank">Republicans Are More Optimistic About Economic Mobility, but No Less Accurate</a>.” <i>Research & Politics</i>.</li>
  <li>Chockalingam, Vignesh, <b>Victor Y. Wu</b>, Nicolas Berlinski, Zoe Chandra, Amy Hu, Erik Jones, Justin Kramer et al. (2021). “<a href="https://doi.org/10.1177/20531680211014980" target="_blank">The Limited Effects of Partisan and Consensus Messaging in Correcting Science Misperceptions</a>.” <i>Research & Politics</i>.</li>
</ol>
<h2>Under Review</h2>
<ul>
  <li><b>Wu, Victor Y.</b>, and Yusaku Horiuchi. “<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4762050" target="_blank">The Supreme Court's Partisan Composition Affects How Americans Evaluate Nominees</a>.” Under review.</li>
  <ul>
    <li>2024 Political Studies Association Early Career Prize.</li>
  </ul>
</ul>
<h2>Other Publications</h2>
<ol reversed>
  <li><b>Wu, Victor Y.</b> 2024. “<a href="https://blogs.lse.ac.uk/usappblog/2024/04/18/centrist-third-parties-like-no-labels-are-not-the-solution-for-americans-unhappy-with-the-two-party-system/" target="_blank">Centrist third parties like No Labels are not the solution for Americans unhappy with the two-party system</a>.” <i>London School of Economics USAPP</i>.</li>
  <li>Gupta, Arushi, <b>Victor Y. Wu</b>, Helen Webley-Brown, Jennifer King, and Daniel E. Ho. 2023. “<a href="https://hai.stanford.edu/sites/default/files/2023-10/Privacy-Bias-Trade-Off.pdf" target="_blank">The Privacy-Bias Trade-Off</a>.” <i>Stanford University Human-Centered Artificial Intelligence (HAI) Policy Briefs</i>.</li>
  <li><b>Wu, Victor Y.</b> 2022. “<a href="https://www.washingtonpost.com/politics/2022/11/17/trump-greene-republicans-criticism/" target="_blank">Marjorie Taylor Greene’s supporters don’t care what critics think</a>.” <i>The Washington Post</i>.</li>
</ol>

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



